#container {
background-color: white;
color: blue;

display: flex;

flex-wrap: wrap;
justify-content: center;

margin: 0;
width: 50%;
height: auto;

padding: 1px;
margin: 0px;

}
.square {
    
    background-color: red;

    flex-basis: calc(100%/4);
    aspect-ratio: 1/1;

    padding:0px;
    margin: 0px;

}