#container {
background-color: blue;
color: blue;

display: flex;
flex-wrap: wrap;
justify-content: center;

height:40rem;
width: 40rem;

padding: 0px;
margin: 0px;

}
.square {
    background-color: red;
    padding:0px;
    margin: 0px;
}